{% if latest_ride_list %}
    <ul>
    {% for ride in latest_ride_list %}
        <li>
          <a href="/rides/{{ ride.id }}/">{{ ride.ride_date }}</a>
          <div id="demoMap_{{ ride.id }}" style="height:250px"></div>
          <script src="/static/rideupload/OpenLayers.js"></script>
          <script>
            map = new OpenLayers.Map("demoMap_{{ ride.id }}");
            map.addLayer(new OpenLayers.Layer.OSM());
            map.zoomToMaxExtent();
          </script>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No rides are available.</p>
{% endif %}
